# -*- coding: utf-8; -*-

# Emacs temporary file
*~
\#*#

# Mac OS X files
.DS_Store

#
*.log
*.la
*.lo
*.o
*.a
*.so

# Autotools 
compile
config.guess
config.sub
config.status
depcomp
elisp-comp
install-sh
mdate-sh
missing
mkinstalldirs
py-compile
texinfo.tex
ylwrap
aclocal.m4
libtool
ltmain.sh
configure
test-driver
Makefile
Makefile.in
config.h.in
*.pc

# 
autom4te.cache/
builds/
.libs/
.deps/

# 
include/config.h
include/stamp-h1
